/* body */
.body {
    padding-top: 100px;
}

/* header */
.head {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0px;
    padding-left: 130px;
    background-color: #FFFFFF;
}

.header {
    width: 1400px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav {
    padding-right: 80px;
    width: 580px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.nav-items {
    font-family: 'Lato';
    font-size: 20px;
    font-weight: bold;
    color: #3D37F1;
}

/* section - wraper */

.section1 {
    padding-top: 170px;
    padding-bottom: 284px;
    width: auto;
    background-color: #FBFCFD;
}

.wraper {
    margin: 0px auto;
    display: flex;
    justify-content: space-around;
    align-items: top;
    width: auto;

}

.headline1 {
    width: 437px;
    font-family: 'Lato';
    font-size: 56px;
    font-weight: bold;
}

.headline2 {
    margin-top: 42px;
    width: 437px;
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: regular;
}

.image1 {
    width: 584px;
}

/* blue icon */
.wave {
    margin-top: 84px;
    margin-right: 132px;
    width: 150px;
    height: 50px;
    border-radius: 38px;
    background-color: #3D37F1;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.waveme {
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 400;
    color: #FFFFFF;
}

/* section 2 */

/* headlines */

.headlines {
    width: 519px;
    margin: 0px auto;
}

.headline3 {
    text-align: center;
    font-family: 'Lato';
    font-size: 16px;
    font-weight: 900;
    color: #3D37F1;
    margin-top: 44px;
}

.headline4 {
    text-align: center;
    font-family: 'Lato';
    font-size: 30px;
    font-weight: 400;
    color: #5A5454;
    margin-top: 17px;
    margin-bottom: 20px;
}

.paragraph {
    text-align: justify;
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: 400;
    color: #747474;
}

/* wraper-1 */

.section3 {
    width: 100%;
    background-color: #FBFCFD;
}

.wraper-1 {
    width: 853px;
    margin: 0px auto;
    margin-top: 67px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: top;

}

.box {
    width: 270px;
    height: 351px;
    background-color: #3D37F1;
    margin-bottom: 60px;
}

/* hover effect */
.wave:hover {
    background-color: #A26565;
}